<div class="container-fluid bg">
    <div class="row">
        <div class="col-12 header">
            <h2>Let there be rock!</h2>
            <h6>Un recorrido por el mejor rock internacional de los 70</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 add-button">
            <button class="btn" (click)="showForm()">Añadir banda</button>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <form>
                <input class="search-bar" [formControl]="search" type="text" placeholder="Nombre de la banda">
            </form>
        </div>
    </div>
    <div class="row list">
        <div *ngFor="let band of bands | search:filterValue" class="col-lg-5 col-10 card m-lg-3 mb-3" (click)="selectBand(band)">
            <img class="card-img-top" src="{{band.image}}" alt="{{band.name}}">
            <div class="card-body">
                <h5 class="card-title">{{band.name}}</h5>
            </div>
        </div>
    </div>
</div>
