.header {
    height: 15vh;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2{
        font-family: 'Concert One';
        font-size: 50px;
        letter-spacing: 10px;
    }
}