/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Anton';
    src: url('./assets/fonts/Anton/Anton-Regular.ttf')
}

@font-face {
    font-family: 'Concert One';
    src: url('./assets/fonts/Concert_One/ConcertOne-Regular.ttf')
}

@font-face {
    font-family: 'Pompiere';
    src: url('./assets/fonts/Pompiere/Pompiere-Regular.ttf')
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf')
}

@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf')
}