<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-lg-5 display">
            <h2>{{bandDetailed.name}}</h2>
            <p>{{bandDetailed.info}}</p>

            <iframe [src]="bandDetailed.video | safe" width="800" height="400" allowfullscreen>
            </iframe>


            <div class="button-group">
                <button class="btn" (click)="editBand()">Editar banda</button>
                <button class="btn2" (click)="deleteBand(bandDetailed)">Eliminar banda</button>
            </div>
            <div class="button-group">
                <button class="btn3" (click)="return()">Volver</button>
            </div>

        </div>
    </div>
</div>
