.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 19, 19);

    p{
        margin: 20px;
        padding: 20px 70px 5px 70px;
        color: #d6d5d5;
        font-family: 'Oswald';
        font-size: 20px;
        text-align: center;
    }
    h2 {
    font-family: 'Anton';
    font-size: 50px;
    letter-spacing: 5px;
    color: #8d8484;
    }   

}

.button-group {
    display: flex;
}

.btn1, 
.btn2,
.btn3 {
    width: 200px;
    height: 50px;
    color: white;
    border: solid 1px white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-size: 25px;
    margin: 20px;
}

.btn1,
.btn2 {
    background-color: #424242;
}

.btn3 {
    background-color: transparent;
}

.btn1:hover {
    border: solid 1px #666baf;
    background-color: #464646;
}

.btn2:hover {
    border: solid 1px #e47347;
    background-color: #464646;
}

.btn3:hover {
    background-color: (rgba(241, 153, 153, 0.212));

}

@media only screen and (max-width: 768px){
    .display {
        padding-bottom: 50px;
        h2 {
            margin-top: 50px;
            text-align: center
        }
        p {
            padding: 10px;
        }
    }
    .button-group {
        flex-direction: column;
        margin-top: 20px;
        
        .btn, .btn2 {
            margin: 15px;
        }
    }
    iframe {
        width: 80%;
        height: 80%;
    }
}

